body {
	font-family: "Myriad Pro";
}

a {
    color: #777;
}

.nav-div {
    margin-bottom: 30px;
    background-color:#eee;
    height:86px;
}

.logo {
    box-shadow: 0 0 3px #888888;
}
.nav-main {
    margin-top: 45px;
    padding-left: 28px;
	font-weight: 400;
}

.nav-main a {
    color: #5a5a5a;
}

.nav-main li.nav-active {
    background-color: #fff;
}

.nav-main li.nav-active a {
    color: #434343;
	font-weight: 600;
    }

.nav-main li {
    display: inline;
    padding: 7px 13px;
    background-color: #eee;
    border: solid 1px #B4B4B4;
    border-radius: 3px;    
    margin-right: 5px;
	
}
.navbar-nav>li>a {
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 0;
	color: #666666;
	letter-spacing: 0.03em;
}

.label {
	background-color: #7e7e7e;
	padding: 4px 8px 1px 8px;
	font-weight: 500;
	font-size: 0.85em;
}

.navbar-nav>li>a.counter {
    padding-top: 10px;
    padding-right: 7px;
}

.btn-xl {
    padding: 7px 13px;
	background-color: #003282;
	color: white;
    margin-bottom: 4px;
	font-weight: 400;
	font-size: 0.85em;
	letter-spacing: 0.1em;
}

.digit {
	font-size: 2.3em;
	font-weight: 500;
}

.active-stage {
    background-color: #E5EDF8;
}

.btn-stg {
    margin-top: 16px;
}

.btn-active {
    padding: 15px 13px;
}

.btn-active-text {
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: -0.03em;
    height: 71px;
    background-color: #E5EDF8;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: -11px;
}

.btn-active-text h3 {
	font-family: "Myriad Pro";
	font-weight: 100;
	font-size: 1.39em;
}

.btn-active-text * {
    color: #03337F;
    margin: 4px;
}

.btn-panel {
    width: 125px;
    text-align: center;
    border-radius: 3px;
    padding: 8px 50px;
    background-color: #9CB4D5;
    color: #FBFFFF;
}

.btn-panel-active {
    width: 95px;
    background-color: #6A8EC0;
}

.panel-default {
    background-color: #f8f8f8;
    box-shadow: 0 1px 1px #888888;
}

.page-header {
    color: #5c5c5c;
    font-weight: 100;
    font-size: 1.7em;
    padding-bottom: 2px;
}

.panel-body {
    padding: 0;   
}

.panel-body p {
    color: #5e5e5e;
    font-weight: 500;
    margin: 0;
    padding: 6px 60px 0 10px;
}

.panel-default > .panel-heading {
    height: 36px;
    box-shadow: 0px 0px 5px #888888;
    background-color: #ffffff;
    
}

.panel-default > .panel-heading p {
    margin: 0;
}

.panel-hdr { 
    position: relative;
    top: -4px;
    color: #e71d2b;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.panel-date {
    color: #686868;
    font-size: 0.85em;
}


.panel-footer {
    background-color: #ffffff;    
    box-shadow:  0px -1px 5px #888888; 
    padding: 6px;
}

.panel-footer img {
    margin-top: -23px;
    margin-left: 15px;
}

.grad1 {
    width: 96px;
    height: 91px;
    text-align: center;
    padding-top: 12px;
    margin-top: 2px;
    border-right: 1px solid #E0E0E0;
    background: -webkit-linear-gradient(#E9EEF4, #FCFFFF);
    background: -o-linear-gradient(#E9EEF4, #FCFFFF); 
    background: -moz-linear-gradient(#E9EEF4, #FCFFFF);
    background: linear-gradient(#E9EEF4, #FCFFFF); 
}

h5 {
    color: #414040;
    font-weight: 500;
    font-size: 0.72em;
    
}

.progress {
    margin: 0px -2px 0 -1px;
    height: 26px;
    border-radius: 0;
    background-color: white;
    box-shadow: inset 0px 1px 5px #888888;
}

.progress-bar-danger {
    text-align: right;
    background-color: #E71D2B;
    padding-top: 4px;
    padding-right: 10px;
    font-size: 1.2em;
}

.list-inline {
    margin: 0;
}

.marks {
    font-size: 1.25em;
}
.container-fixed {
    min-width: 1201px;
}

.pull-arrow {
    position: fixed;
    right: 0%;
    top: 35%;
}
